@import 'function.less';
@import 'animation.less';

.transparent {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAXSURBVBiVY/z//z8DMYCJKFWjCqmmEADVEgMRPT897AAAAABJRU5ErkJggg==);
}

.tui-mask {
	display:block;
	position:fixed;
	.transparent();
	left:0;
	top:0;
	right:0;
	bottom:0;
	cursor:default;
	z-index:@maskLayer;
}

.tui-round {
	.border-radius(@buttonBorderRadius);
}

.tui-round-large {
	.border-radius(@panelBorderRadius);
}

[unselectable=on],.tui-unselectable {
    user-select: none;
}


/* Set browser default behavior  */

hr {
	height:0;
	border:none;
	border-bottom:1px dashed @borderColor;
	margin:20px 0px;
}

body,input,textarea,select {
    .font;
	background-color: white;
}

a {
	color:@linkForeColor;
	text-decoration:none;
	&:visited {
		color:@linkVisitedForeColor;
	}
	&:hover {
		color:@linkHoverForeColor;
	}
}

table.tui-table {
	border-collapse: collapse;
	empty-cells: show;
	&.auto-scroll {
		display: block;
		overflow: auto;
	}
	th {
		border: 0;
		border-bottom: 2px solid #888;
		color: black;
		font-weight: bold;
		text-align: left;
		padding: 6px 15px;
	}
	td {
		padding: 6px 15px;
		border: 0;
		border-bottom: 1px solid #ccc;
	}
}

tui\:item {
	display: none;
}