@import 'basic.less';
@import 'animation.less';

@import 'button.less';
@import 'input.less';
@import 'popup.less';
@import 'calendar.less';
@import 'dialog.less';
@import 'grid.less';
@import 'scrollbar.less';
@import 'tooltip.less';
@import 'group.less';


// Global default theme

@inputBackColor: #fff;
@inputDisableTextColor: #777;
tui\:input, tui\:textarea,tui\:select,tui\:dialog-select,tui\:date-picker,tui\:file {
	background-color:@inputBackColor;
	i {
		background-color:@inputBackColor;
	}
}

tui\:grid .tui-content, tui\:list .tui-content {
	background-color:@inputBackColor;
    color: #333;
}
tui\:grid,tui\:list {
    .tui-grid-head { 
        background-color: #f5f5f5;
		& span {
			font-weight: bold;
		}
    }
}
