<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".md" mimeType="text/plain" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".tff" mimeType="font/tff" />
      <mimeMap fileExtension=".eot" mimeType="font/eot" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
	    <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>

</configuration>
