body {
	position: relative;
	font-size: 16px;
	padding: 40px;
	padding-left: 290px;
	padding-top: 20px;
	/*transition: padding-left 200ms, left 200ms;*/
	color: #333;
	background: #f5f5f5;
}
#navi {
	position: fixed;
	left:0;
	top:0px;
	bottom:0;
	width: 250px;
	height: inherit;
	/*transition: left 200ms;*/
}
#mask {
	position: fixed;
	left:250px;
	top:0px;
	bottom:0;
	right:0;
	background-color: #555;
	opacity: 0;
	z-index: 100;
	display: none;
}
#banner {
	position:fixed;
	top:0;
	left:250px;
	right:0;
	height:50px;
	line-height: 50px;
	font-size: 20px;
	background: #fff;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	z-index: 100;
	/*border-bottom: 1px solid #ccc;*/
	/*transition: left 200ms;*/
	box-shadow: 0px 1px 5px #aaa;
	background-color: #eee;
}
#banner > span {
	display: inline-block;
	width: 60px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

h1,h2,h3,h4 {
	margin-top: 60px;
}
h1 {
	font-family: "Microsoft Yahei";
	font-size: 34px;
	border-bottom: 1px solid #00aaaa;
	color: #009999;
	font-weight: normal;
}
h2 {
	font-family: "Microsoft Yahei";
	font-size: 24px;
	font-style: italic;
	color: #2288ff;
	border-bottom: 1px dotted #aaa;
	font-weight: normal;
}
ul, ol {
	padding-left:20px;
	margin-top: 5px; 
}
li {
	margin-bottom:5px; 
}
pre {
	margin:10px;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
	border-radius: 5px;
}
code {
	color: #ee6633;
	font-family: 'Courier New', monospace;
}
code[class] {
	color: #444;
}
#content>table {
	empty-cells: show;
	border-collapse: collapse;
	display: block;
	overflow: auto;
	width: 100%;
}
#content>table thead th {
	border-bottom: 2px solid #888;
	padding: 6px 15px;
	text-align: left;
	min-width: 150px;
}
#content>table thead th:last-child {
	width: 100%;
}
#content>table tbody td {
	padding: 6px 15px;
	border-bottom: 1px solid #ccc;
}



@media (max-width: 780px) {
	#navi {
		left: -250px;
		z-index: 101;
	}
	#banner {
		width: 100%;
		height: 40px;
		line-height: 40px;
		left: 0;
	}
	body {
		padding:10px;
	}
	#mask.show {
		display: block;
	}
	
	tui\:button, 
	tui\:input, 
	tui\:textarea, 
	tui\:select, 
	tui\:date-picker, 
	tui\:dialog-select, 
	tui\:file {
		display: block;
		margin-top: 10px;
		margin-top: 10px;
		width: inherit;
	}
	tui\:calendar {
		/*width: 231px;*/
		display: block;
		margin: 0 auto;
	}
	
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 22px;
	}
	#content>table {
		width: 100%;
	}
	#content>table thead th {
		padding: 6px 6px;
		min-width: 100px;
	}
	#content>table tbody td {
		padding: 6px 6px;
		word-break: keep-all;
		white-space: normal;
	}
}