@import 'commons.less';

tui\:button {
	.btn();
	margin:2px;
	cursor:pointer;
	.border-radius(@buttonBorderRadius);
	text-decoration: none;
	color: #000;
	.btn-color(@panelColor + #111, @panelColor );
	border: 1px solid @borderColor;
	min-width:40px;
	&.tui-menu:after {
		.icon-base();
		font-size:@fontSize;
		margin-left:6px;
		.fa-caret-down;
	}
	&:hover {
		color: #000;
	}
	&.tui-checked {
		.btn-color(@panelColor - #111, @panelColor - #111);
	}
	&.tui-dropdown {
		min-width:10px;
		padding-left:5px;
		padding-right:5px;
		&:before {
			content: "";
		}
		&:after {
			.icon-base();
			.fa-caret-down();
			margin-left:0px;
		}
	}

	&.tui-success {
		color: #fff;
		.btn-color(#00c555, #00b545);
	}
	&.tui-primary {
		color: #fff;
		.btn-color(#0085f5, #0075e5);
	}
	&.tui-danger {
		color: #fff;
		.btn-color(#f51500, #e50500);
	}
	&.tui-warning {
		color: #fff;
		.btn-color(#ff8a00, #ef7a00);
	}
	&.tui-disabled {
		cursor:default;
		.btn-color(@panelColor, @panelColor);
		color: @panelColor - #333;
	}
}
