@import 'commons.less';

@hineColor: #e8e8e8;
@titleBackColor: white;
@backColor: white;

.tui-dialog-mask:extend(.tui-mask) {
	background-color:#888;
	.opacity(0.5);
	z-index:@dialogLayer;
}
tui\:dialog {
	@captionHeight: 40px;

	outline:none;
	display:none;
	position:fixed;
	background-color:white;
	.border-radius(@dialogBorderRadius);
	min-width:280px;
	//border:1px solid @borderColor;
	.shadow(0px, 1px, 30px, rgba(0,0,0,0.5));
	z-index:@dialogLayer;
	text-align:left;
	> div {
		padding:10px 20px;
		background-color:@backColor;
		overflow:auto;
	}
	> .tui-title-bar {
		.top-radius(@dialogBorderRadius);
		//position:relative;
		overflow:hidden;
		padding:5px 20px;
		padding-right: 50px;
		font-weight: bold;
		font-size: 18px;
	//	border-bottom:1px solid @hineColor;
		
		background-color: @titleBackColor;
		height:@captionHeight;
		line-height:@captionHeight;
		cursor: default;
		.tui-close {
			position:absolute;
			top:10px;
			right:10px;
			width:30px;
			height:30px;
			line-height:30px;
			text-align:center;
			padding:0;
			background-color:transparent;
			border:0;
			cursor:pointer;
			outline:none;
			color: #777;
			.border-radius(@buttonBorderRadius);
			&:hover {
				background-color:(@panelColor - #111);
			}
			&:before {
				//.icon-base();
				//.fa-times();
				display: inline-block;
				font-style: normal;
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-family: Arial,Helvetica,sans-serif;
				font-size: 30px;
				content: "\00d7";
			}
		}
		>.tui-text {
			display: block;
			max-width: 500px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	> .tui-button-bar {
		.bottom-radius(@dialogBorderRadius);
		overflow:hidden;
		padding:10px 10px;
		//border-top:1px solid @hineColor;
		background-color:@titleBackColor;
		text-align:right;
		white-space:nowrap;
		tui\:button {
			margin:2px 4px;
			min-width: 40px;
			padding-left: 14px;
			padding-right: 14px;
			display: inline-block;
		}
	}
}

tui\:dialog.tui-wait-box {
	min-width: 150px;
}

tui\:dialog .tui-title-bar {
	span.tui-text i {
		&:before {
			.icon-base();
			font-size:18px;
		}
		vertical-align: baseline;
		text-align: left;
		margin-right: 15px;
		line-height: 20px;
	}
	.tui-dialog-title-warning:before {
		.fa-warning();
		color:@iconWarnColor;
	}
	.tui-dialog-title-ok:before {
		.fa-check();
		color:@iconSuccessColor;
	}
	.tui-dialog-title-info:before {
		.fa-info();
		color:@iconInfoColor;
	}
	.tui-dialog-title-error:before {
		.fa-exclamation-circle();
		color:red;
	}
	.tui-dialog-title-ask:before {
		.fa-question-circle();
		color:@iconInfoColor;
	}
}

.tui-msg-container {
	padding:5px 20px;
	max-width: 500px;
	text-align: center;
	> div {
		display: inline-block;
		text-align: left;
	}
}

tui\:dialog.tui-wait-box {
	.tui-msg-container {
		max-width: 250px;
	}
	.tui-msg-container>div {
		padding:10px;
		color: #424242;
	}
	.tui-msg-container>span {
		padding: 10px;
		display: block;
		height: 40px;
		line-height: 40px;
		text-align: center;
		
		&:before {
			.icon-base();
			//.fa-circle-o-notch();
			.fa-gear();
			.tui-spin();
			// content: "";
			// display: inline-block;
			// width: 30px;
			// height: 30px;
			// background-image: url(loading.gif);
			font-size:38px;
			color: #aaa;
		}
	}
}