@import 'commons.less';

tui\:grid {
	display: block;
	position: relative;
	border: 1px solid @borderColor;
	overflow: hidden;
	background-color: @scrollBackColor;
	.tui-grid-head {
		display: block;
		position: absolute;
		left:0;
		top:0;
		right:0;
		height: @gridLineHeight;
		line-height: @gridLineHeight;
		background: #f0f0f0;
		z-index: 10;
	}
	.tui-content {
		display: block;
		position: absolute;
		top:0;
		left:0;
		background-color: @windowColor;
		overflow: hidden;
	}
	
	tui\:scrollbar {
		&.tui-horizontal {
			display: block;
			position: absolute;
			left:0;
			bottom:0;
			z-index: 11;
			&.tui-hidden {
				display: none;
			}
		}
	}
	
	tui\:scrollbar {
		&.tui-vertical {
			display: block;
			position: absolute;
			top:0;
			right:0;
			z-index: 11;
			&.tui-hidden {
				display: none;
			}
		}
	}
	
	.tui-grid-line, .tui-grid-test {
		display: block;
		position: absolute;
		height: @gridLineHeight;
		line-height: @gridLineHeight;
		border: none;
		border-bottom: 1px solid #ddd;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		word-break: keep-all;
	}
	.tui-grid-line > span {
		display: inline-block;
		height: @gridLineHeight;
		line-height: @gridLineHeight;
	}
	
}

.tui-grid-test {
	display: block;
	position: absolute;
	visibility: hidden;
	height: @gridLineHeight;
	line-height: @gridLineHeight;
	top: 0px;
	left: 0px;
	border: 0;
	padding: 0;
	margin: 0;
}